body {
  margin: 0;
  justify-content: center;
  display: flex;
  background-color: rgb(19, 19, 19);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 10px;
}

ul {
  list-style: none;
  /*  display: flex; */
  margin-bottom: 10px;
}
